---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/youtube/v3/playlists?part=snippet,status
    body:
      encoding: UTF-8
      string: ! '{"snippet":{"title":"hot_100"},"status":{"privacyStatus":"public"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.AHES6ZThpl9dPEY7SLU1QN6mEJHSDWOO_UW4NohytaLxJlr9mhcu_Kk
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/VKk9_QgllTmAV0W3z6u5WGApxY0"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"id\": \"PLOANzs84P9WSE3tcKD7mkipmXSC8LkuAE\",\n \"kind\": \"youtube#playlist\",\n
        \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/VKk9_QgllTmAV0W3z6u5WGApxY0\\\"\",\n
        \"snippet\": {\n  \"publishedAtMs\": \"1364137111000\",\n  \"channelId\":
        \"UCgYy_QmVQV1J_eTACuhlACQ\",\n  \"title\": \"hot_100\",\n  \"description\":
        \"\",\n  \"thumbnails\": {\n   \"default\": {\n    \"url\": \"https://i.ytimg.com/vi/default.jpg\"\n
        \  },\n   \"medium\": {\n    \"url\": \"https://i.ytimg.com/vi/default.jpg\"\n
        \  },\n   \"high\": {\n    \"url\": \"https://i.ytimg.com/vi/default.jpg\"\n
        \  }\n  }\n },\n \"status\": {\n  \"privacyStatus\": \"public\"\n }\n}\n"
  recorded_at: Sun, 24 Mar 2013 14:58:33 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?maxResults=1&part=id&q=Harlem%20Shake%20Baauer&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.AHES6ZThpl9dPEY7SLU1QN6mEJHSDWOO_UW4NohytaLxJlr9mhcu_Kk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/vdzFRXqrHN3Arvzzwk_o9ZA_QHQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/vdzFRXqrHN3Arvzzwk_o9ZA_QHQ\\\"\",\n
        \"pageInfo\": {\n  \"totalResults\": 887797,\n  \"resultsPerPage\": 1\n },\n
        \"nextPageToken\": \"CAEQAA\",\n \"items\": [\n  {\n   \"kind\": \"youtube#searchResult\",\n
        \  \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/iS8QLTHuYP_ta5ZCaM-kSBLoz1w\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"qV0LHCHf-pE\"\n
        \  }\n  }\n ]\n}\n"
  recorded_at: Sun, 24 Mar 2013 14:58:33 GMT
- request:
    method: post
    uri: https://www.googleapis.com/youtube/v3/playlistItems?part=snippet
    body:
      encoding: UTF-8
      string: ! '{"snippet":{"playlistId":"PLOANzs84P9WSE3tcKD7mkipmXSC8LkuAE","resourceId":{"kind":"youtube#video","videoId":"qV0LHCHf-pE"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.AHES6ZThpl9dPEY7SLU1QN6mEJHSDWOO_UW4NohytaLxJlr9mhcu_Kk
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/fmRLQ0_nkr-QfulvTMsgc2V8UnU"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"id\": \"PLe5gi-c5t1x_ksqDZViF0Q8RPeWLsifWuUduS0Ez0jyE\",\n
        \"kind\": \"youtube#playlistItem\",\n \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/fmRLQ0_nkr-QfulvTMsgc2V8UnU\\\"\",\n
        \"snippet\": {\n  \"publishedAt\": \"2013-03-24T14:58:34.000Z\",\n  \"channelId\":
        \"UCgYy_QmVQV1J_eTACuhlACQ\",\n  \"title\": \"Baauer - Harlem Shake [Official
        Audio]\",\n  \"thumbnails\": {\n   \"default\": {\n    \"url\": \"https://i.ytimg.com/vi/qV0LHCHf-pE/default.jpg\"\n
        \  },\n   \"medium\": {\n    \"url\": \"https://i.ytimg.com/vi/qV0LHCHf-pE/mqdefault.jpg\"\n
        \  },\n   \"high\": {\n    \"url\": \"https://i.ytimg.com/vi/qV0LHCHf-pE/hqdefault.jpg\"\n
        \  }\n  },\n  \"playlistId\": \"PLOANzs84P9WSE3tcKD7mkipmXSC8LkuAE\",\n  \"position\":
        0,\n  \"resourceId\": {\n   \"kind\": \"youtube#video\",\n   \"videoId\":
        \"qV0LHCHf-pE\"\n  }\n }\n}\n"
  recorded_at: Sun, 24 Mar 2013 14:58:34 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?maxResults=1&part=id&q=Thrift%20Shop%20Macklemore%20%26%20Ryan%20Lewis%20Featuring%20Wanz&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.AHES6ZThpl9dPEY7SLU1QN6mEJHSDWOO_UW4NohytaLxJlr9mhcu_Kk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/R7Vxhb9Bm-IZDc2g-ZtgZObRkx0"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/R7Vxhb9Bm-IZDc2g-ZtgZObRkx0\\\"\",\n
        \"pageInfo\": {\n  \"totalResults\": 228709,\n  \"resultsPerPage\": 1\n },\n
        \"nextPageToken\": \"CAEQAA\",\n \"items\": [\n  {\n   \"kind\": \"youtube#searchResult\",\n
        \  \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/LsGvR5r1gNUwC4cvlyOqV2sbpn8\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"QK8mJJJvaes\"\n
        \  }\n  }\n ]\n}\n"
  recorded_at: Sun, 24 Mar 2013 14:58:34 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?maxResults=1&part=id&q=When%20I%20Was%20Your%20Man%20Bruno%20Mars&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.AHES6ZThpl9dPEY7SLU1QN6mEJHSDWOO_UW4NohytaLxJlr9mhcu_Kk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/tGwH65_h3dNcMNjqeMp4GiDXktw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/tGwH65_h3dNcMNjqeMp4GiDXktw\\\"\",\n
        \"pageInfo\": {\n  \"totalResults\": 1000000,\n  \"resultsPerPage\": 1\n },\n
        \"nextPageToken\": \"CAEQAA\",\n \"items\": [\n  {\n   \"kind\": \"youtube#searchResult\",\n
        \  \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/ExuQwT0u6zAlZ7_fRmhh95pMCss\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"ekzHIouo8Q4\"\n
        \  }\n  }\n ]\n}\n"
  recorded_at: Sun, 24 Mar 2013 14:58:36 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?maxResults=1&part=id&q=Suit%20%26%20Tie%20Justin%20Timberlake%20Featuring%20Jay%20Z&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.AHES6ZThpl9dPEY7SLU1QN6mEJHSDWOO_UW4NohytaLxJlr9mhcu_Kk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/mwidLei2Y04GyWe3uD8GVnaT3iQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/mwidLei2Y04GyWe3uD8GVnaT3iQ\\\"\",\n
        \"pageInfo\": {\n  \"totalResults\": 274366,\n  \"resultsPerPage\": 1\n },\n
        \"nextPageToken\": \"CAEQAA\",\n \"items\": [\n  {\n   \"kind\": \"youtube#searchResult\",\n
        \  \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/sBqEQcEBFZ6oZg20ogN-8GqsqkM\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"IsUsVbTj2AY\"\n
        \  }\n  }\n ]\n}\n"
  recorded_at: Sun, 24 Mar 2013 14:58:37 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?maxResults=1&part=id&q=Stay%20Rihanna%20Featuring%20Mikky%20Ekko&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.AHES6ZThpl9dPEY7SLU1QN6mEJHSDWOO_UW4NohytaLxJlr9mhcu_Kk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/eXg9J4maOaVWToKzqxBTEjvqi8U"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/eXg9J4maOaVWToKzqxBTEjvqi8U\\\"\",\n
        \"pageInfo\": {\n  \"totalResults\": 552609,\n  \"resultsPerPage\": 1\n },\n
        \"nextPageToken\": \"CAEQAA\",\n \"items\": [\n  {\n   \"kind\": \"youtube#searchResult\",\n
        \  \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/e1xA-DTLShDyGxlhtkpldKfER4M\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"JF8BRvqGCNs\"\n
        \  }\n  }\n ]\n}\n"
  recorded_at: Sun, 24 Mar 2013 14:58:38 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?maxResults=1&part=id&q=Started%20From%20The%20Bottom%20Drake&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.AHES6ZThpl9dPEY7SLU1QN6mEJHSDWOO_UW4NohytaLxJlr9mhcu_Kk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/y73hEdZPgyyKmvLBbnRfVA47CdY"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/y73hEdZPgyyKmvLBbnRfVA47CdY\\\"\",\n
        \"pageInfo\": {\n  \"totalResults\": 1000000,\n  \"resultsPerPage\": 1\n },\n
        \"nextPageToken\": \"CAEQAA\",\n \"items\": [\n  {\n   \"kind\": \"youtube#searchResult\",\n
        \  \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/zpDwO47TR7jTQDsAAZnSg0E_jmE\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"RubBzkZzpUA\"\n
        \  }\n  }\n ]\n}\n"
  recorded_at: Sun, 24 Mar 2013 14:58:39 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?maxResults=1&part=id&q=I%20Knew%20You%20Were%20Trouble.%20Taylor%20Swift&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.AHES6ZThpl9dPEY7SLU1QN6mEJHSDWOO_UW4NohytaLxJlr9mhcu_Kk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/2lDaS5IhqdRzNPdGhq7qPccH3L8"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/2lDaS5IhqdRzNPdGhq7qPccH3L8\\\"\",\n
        \"pageInfo\": {\n  \"totalResults\": 1000000,\n  \"resultsPerPage\": 1\n },\n
        \"nextPageToken\": \"CAEQAA\",\n \"items\": [\n  {\n   \"kind\": \"youtube#searchResult\",\n
        \  \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/JCb8grfepqh-rf0nrLmh9qvQp2c\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"vNoKguSdy4Y\"\n
        \  }\n  }\n ]\n}\n"
  recorded_at: Sun, 24 Mar 2013 14:58:40 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?maxResults=1&part=id&q=Scream%20%26%20Shout%20will.i.am%20%26%20Britney%20Spears&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.AHES6ZThpl9dPEY7SLU1QN6mEJHSDWOO_UW4NohytaLxJlr9mhcu_Kk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/CdIJu5azZgoTix72CoxABthXV9A"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/CdIJu5azZgoTix72CoxABthXV9A\\\"\",\n
        \"pageInfo\": {\n  \"totalResults\": 436160,\n  \"resultsPerPage\": 1\n },\n
        \"nextPageToken\": \"CAEQAA\",\n \"items\": [\n  {\n   \"kind\": \"youtube#searchResult\",\n
        \  \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/FAufEiSJZH9OUZtDyclEwXFzW8g\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"kYtGl1dX5qI\"\n
        \  }\n  }\n ]\n}\n"
  recorded_at: Sun, 24 Mar 2013 14:58:41 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?maxResults=1&part=id&q=Just%20Give%20Me%20A%20Reason%20P!nk%20Featuring%20Nate%20Ruess&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.AHES6ZThpl9dPEY7SLU1QN6mEJHSDWOO_UW4NohytaLxJlr9mhcu_Kk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/2GJUoNRaJXFI1Mfwc5s_VSk3yp0"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/2GJUoNRaJXFI1Mfwc5s_VSk3yp0\\\"\",\n
        \"pageInfo\": {\n  \"totalResults\": 207763,\n  \"resultsPerPage\": 1\n },\n
        \"nextPageToken\": \"CAEQAA\",\n \"items\": [\n  {\n   \"kind\": \"youtube#searchResult\",\n
        \  \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/RkSJ4m3sspj2jVlVAmSWzg3o2Z4\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"OpQFFLBMEPI\"\n
        \  }\n  }\n ]\n}\n"
  recorded_at: Sun, 24 Mar 2013 14:58:43 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?maxResults=1&part=id&q=Love%20Me%20Lil%20Wayne%20Featuring%20Drake%20%26%20Future&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.AHES6ZThpl9dPEY7SLU1QN6mEJHSDWOO_UW4NohytaLxJlr9mhcu_Kk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/KExQzxRp5258YXsYIZKoAVGbEm8"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/KExQzxRp5258YXsYIZKoAVGbEm8\\\"\",\n
        \"pageInfo\": {\n  \"totalResults\": 423799,\n  \"resultsPerPage\": 1\n },\n
        \"nextPageToken\": \"CAEQAA\",\n \"items\": [\n  {\n   \"kind\": \"youtube#searchResult\",\n
        \  \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/TNSsMP9gsQAj-VTT29SJQfR5jcM\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"KY44zvhWhp4\"\n
        \  }\n  }\n ]\n}\n"
  recorded_at: Sun, 24 Mar 2013 14:58:44 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?maxResults=1&part=id&q=Feel%20This%20Moment%20Pitbull%20Featuring%20Christina%20Aguilera&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.AHES6ZThpl9dPEY7SLU1QN6mEJHSDWOO_UW4NohytaLxJlr9mhcu_Kk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/l9VHG9c0VaFX01Lctr7rrhkv9i4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/l9VHG9c0VaFX01Lctr7rrhkv9i4\\\"\",\n
        \"pageInfo\": {\n  \"totalResults\": 373667,\n  \"resultsPerPage\": 1\n },\n
        \"nextPageToken\": \"CAEQAA\",\n \"items\": [\n  {\n   \"kind\": \"youtube#searchResult\",\n
        \  \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/gIbHgzoMSn5pZRr6gy2C3SU7wGs\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"5jlI4uzZGjU\"\n
        \  }\n  }\n ]\n}\n"
  recorded_at: Sun, 24 Mar 2013 14:58:45 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?maxResults=1&part=id&q=Daylight%20Maroon%205&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.AHES6ZThpl9dPEY7SLU1QN6mEJHSDWOO_UW4NohytaLxJlr9mhcu_Kk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/-hp3V6QWcV884KiCvbSsIUeoTgw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/-hp3V6QWcV884KiCvbSsIUeoTgw\\\"\",\n
        \"pageInfo\": {\n  \"totalResults\": 248303,\n  \"resultsPerPage\": 1\n },\n
        \"nextPageToken\": \"CAEQAA\",\n \"items\": [\n  {\n   \"kind\": \"youtube#searchResult\",\n
        \  \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/lXUUVRoqgvABMVs5qiFWK6SHuoA\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"Wg9Urm2_7xQ\"\n
        \  }\n  }\n ]\n}\n"
  recorded_at: Sun, 24 Mar 2013 14:58:46 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?maxResults=1&part=id&q=Locked%20Out%20Of%20Heaven%20Bruno%20Mars&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.AHES6ZThpl9dPEY7SLU1QN6mEJHSDWOO_UW4NohytaLxJlr9mhcu_Kk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/UrVz1D9DVZJlKiARx7DA-X54Fq8"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/UrVz1D9DVZJlKiARx7DA-X54Fq8\\\"\",\n
        \"pageInfo\": {\n  \"totalResults\": 601762,\n  \"resultsPerPage\": 1\n },\n
        \"nextPageToken\": \"CAEQAA\",\n \"items\": [\n  {\n   \"kind\": \"youtube#searchResult\",\n
        \  \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/EhSBa-aKPV3t_XweWY4GMYHYGL8\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"e-fA-gBCkj0\"\n
        \  }\n  }\n ]\n}\n"
  recorded_at: Sun, 24 Mar 2013 14:58:47 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?maxResults=1&part=id&q=Ho%20Hey%20The%20Lumineers&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.AHES6ZThpl9dPEY7SLU1QN6mEJHSDWOO_UW4NohytaLxJlr9mhcu_Kk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/968KJAO8lvOjePJJy8g3R-jUzdk"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/968KJAO8lvOjePJJy8g3R-jUzdk\\\"\",\n
        \"pageInfo\": {\n  \"totalResults\": 321115,\n  \"resultsPerPage\": 1\n },\n
        \"nextPageToken\": \"CAEQAA\",\n \"items\": [\n  {\n   \"kind\": \"youtube#searchResult\",\n
        \  \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/tB0V6b0VYK4T41mwHoktx3hwIxA\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"zvCBSSwgtg4\"\n
        \  }\n  }\n ]\n}\n"
  recorded_at: Sun, 24 Mar 2013 14:58:48 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?maxResults=1&part=id&q=Don't%20You%20Worry%20Child%20Swedish%20House%20Mafia%20Featuring%20John%20Martin&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.AHES6ZThpl9dPEY7SLU1QN6mEJHSDWOO_UW4NohytaLxJlr9mhcu_Kk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/nz9ZxVXlN5nQ3qpEpBtZxXcdMEs"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/nz9ZxVXlN5nQ3qpEpBtZxXcdMEs\\\"\",\n
        \"pageInfo\": {\n  \"totalResults\": 43047,\n  \"resultsPerPage\": 1\n },\n
        \"nextPageToken\": \"CAEQAA\",\n \"items\": [\n  {\n   \"kind\": \"youtube#searchResult\",\n
        \  \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/1Oal8QLZVAh_Ei6YCF6waEFn3Y0\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"1y6smkh6c-0\"\n
        \  }\n  }\n ]\n}\n"
  recorded_at: Sun, 24 Mar 2013 14:58:50 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?maxResults=1&part=id&q=F**kin%20Problems%20A$AP%20Rocky%20Featuring%20Drake%202%20Chainz%20%26%20Kendrick%20Lamar&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.AHES6ZThpl9dPEY7SLU1QN6mEJHSDWOO_UW4NohytaLxJlr9mhcu_Kk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/aBs7cp8yBo54hKbPNJl28laSmKU"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/aBs7cp8yBo54hKbPNJl28laSmKU\\\"\",\n
        \"pageInfo\": {\n  \"totalResults\": 16414,\n  \"resultsPerPage\": 1\n },\n
        \"nextPageToken\": \"CAEQAA\",\n \"items\": [\n  {\n   \"kind\": \"youtube#searchResult\",\n
        \  \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/1c3q-NK-TgQQ287i7oDvlYXxvn4\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"liZm1im2erU\"\n
        \  }\n  }\n ]\n}\n"
  recorded_at: Sun, 24 Mar 2013 14:58:51 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?maxResults=1&part=id&q=Sweet%20Nothing%20Calvin%20Harris%20Featuring%20Florence%20Welch&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.AHES6ZThpl9dPEY7SLU1QN6mEJHSDWOO_UW4NohytaLxJlr9mhcu_Kk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/D7wYnRPGjNMMtyok5NUvLjSMhns"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/D7wYnRPGjNMMtyok5NUvLjSMhns\\\"\",\n
        \"pageInfo\": {\n  \"totalResults\": 253156,\n  \"resultsPerPage\": 1\n },\n
        \"nextPageToken\": \"CAEQAA\",\n \"items\": [\n  {\n   \"kind\": \"youtube#searchResult\",\n
        \  \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/nkSsVIaqMgA_-OLjUxtWyJpqsWs\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"17ozSeGw-fY\"\n
        \  }\n  }\n ]\n}\n"
  recorded_at: Sun, 24 Mar 2013 14:58:52 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?maxResults=1&part=id&q=Radioactive%20Imagine%20Dragons&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.AHES6ZThpl9dPEY7SLU1QN6mEJHSDWOO_UW4NohytaLxJlr9mhcu_Kk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/7WJ_SVttIEneAjT_12ARhiwcAm0"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/7WJ_SVttIEneAjT_12ARhiwcAm0\\\"\",\n
        \"pageInfo\": {\n  \"totalResults\": 638460,\n  \"resultsPerPage\": 1\n },\n
        \"nextPageToken\": \"CAEQAA\",\n \"items\": [\n  {\n   \"kind\": \"youtube#searchResult\",\n
        \  \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/iRcVfpVFTMJCwCsvb9vg3BThnvE\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"eu-xFvLaE68\"\n
        \  }\n  }\n ]\n}\n"
  recorded_at: Sun, 24 Mar 2013 14:58:53 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?maxResults=1&part=id&q=Heart%20Attack%20Demi%20Lovato&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.AHES6ZThpl9dPEY7SLU1QN6mEJHSDWOO_UW4NohytaLxJlr9mhcu_Kk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/Vg23TofP6RFTUHGlX-j_jyI5XpY"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/Vg23TofP6RFTUHGlX-j_jyI5XpY\\\"\",\n
        \"pageInfo\": {\n  \"totalResults\": 425939,\n  \"resultsPerPage\": 1\n },\n
        \"nextPageToken\": \"CAEQAA\",\n \"items\": [\n  {\n   \"kind\": \"youtube#searchResult\",\n
        \  \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/2RLT7Tptthrro5lBT7rXyXXF7Ls\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"40cxXdKxE5M\"\n
        \  }\n  }\n ]\n}\n"
  recorded_at: Sun, 24 Mar 2013 14:58:54 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?maxResults=1&part=id&q=Pour%20It%20Up%20Rihanna&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.AHES6ZThpl9dPEY7SLU1QN6mEJHSDWOO_UW4NohytaLxJlr9mhcu_Kk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/qjq21_3zYQWJ2no4aA2cYXoUBYQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/qjq21_3zYQWJ2no4aA2cYXoUBYQ\\\"\",\n
        \"pageInfo\": {\n  \"totalResults\": 1000000,\n  \"resultsPerPage\": 1\n },\n
        \"nextPageToken\": \"CAEQAA\",\n \"items\": [\n  {\n   \"kind\": \"youtube#searchResult\",\n
        \  \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/Y3l7rccSRowuLy-gkCPxUow9-QA\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"G_pbbavq-n0\"\n
        \  }\n  }\n ]\n}\n"
  recorded_at: Sun, 24 Mar 2013 14:58:55 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?maxResults=1&part=id&q=I%20Will%20Wait%20Mumford%20%26%20Sons&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.AHES6ZThpl9dPEY7SLU1QN6mEJHSDWOO_UW4NohytaLxJlr9mhcu_Kk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/xIn_ewUukpfgNv0l56i4WWL2Kcs"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/xIn_ewUukpfgNv0l56i4WWL2Kcs\\\"\",\n
        \"pageInfo\": {\n  \"totalResults\": 591129,\n  \"resultsPerPage\": 1\n },\n
        \"nextPageToken\": \"CAEQAA\",\n \"items\": [\n  {\n   \"kind\": \"youtube#searchResult\",\n
        \  \"etag\": \"\\\"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/uUajy282J2ETTZeeWzm2qGr0QQ0\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"rGKfrgqWcv0\"\n
        \  }\n  }\n ]\n}\n"
  recorded_at: Sun, 24 Mar 2013 14:58:56 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?maxResults=1&part=id&q=It's%20Time%20Imagine%20Dragons&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.AHES6ZThpl9dPEY7SLU1QN6mEJHSDWOO_UW4NohytaLxJlr9mhcu_Kk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"MaeD40Le7UBOqBf8ZJ1wa1GZR7g/3oOcCnCT78X4GKghBp5giyebWnY"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
[...]
