---
http_interactions:
- request:
    method: get
    uri: http://www.billboard.com/rss/charts/hot-100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Last-Modified:
      - Wed, 20 Mar 2013 11:38:01 GMT
      Location:
      - http://www1.billboard.com/rss/charts/hot-100
    body:
      encoding: US-ASCII
      string: ! "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sun, 24 Mar 2013 14:58:30 GMT
- request:
    method: get
    uri: http://www1.billboard.com/rss/charts/hot-100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<rss version=\"2.0\">\r\n
        \ <channel>\r\n    <title>Billboard Hot 100 Chart</title>\r\n    <link>http://www1.billboard.com/</link>\r\n
        \   <description />\r\n    <item>\r\n      <title>1: Harlem Shake, Baauer</title>\r\n
        \     <link>http://www1.billboard.com/charts/hot-100</link>\r\n      <description>Harlem
        Shake by Baauer ranks #1</description>\r\n      <category>Hot 100</category>\r\n
        \     <pubDate>Sat, 30 Mar 2013 04:00:00 GMT</pubDate>\r\n      <guid isPermaLink=\"false\">2013-03-30
        00:00:00.0-50770566</guid>\r\n    </item>\r\n    <item>\r\n      <title>2:
        Thrift Shop, Macklemore &amp; Ryan Lewis Featuring Wanz</title>\r\n      <link>http://www1.billboard.com/charts/hot-100</link>\r\n
        \     <description>Thrift Shop by Macklemore &amp; Ryan Lewis Featuring Wanz
        ranks #2</description>\r\n      <category>Hot 100</category>\r\n      <pubDate>Sat,
        30 Mar 2013 04:00:00 GMT</pubDate>\r\n      <guid isPermaLin[...]
