<footer>
  <hr>
  <div class="wrapper">
    <%= link_to 'Built for learning',
      'https://github.com/alimi/better_video_playlist/blob/master/README.md',
      :target => "_blank"
    %>
    |
    <%= link_to 'Fork me on GitHub',
      'https://github.com/alimi/better_video_playlist',
      :target => "_blank"
    %>
    |
    <%= link_to raw('Made with &hearts; in Baltimore'),
      'http://madewithloveinbaltimore.org',
      :target => "_blank"
    %>
  </div>
</footer>
