// Place all the styles related to the Playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  list-style-type: none;

  li {
    cursor: pointer;
    border-bottom: 1px solid;
  }

  li:last-child {
    border: 0;
  }
}
