<h1>Playlists#index</h1>

<div id="playlists_container">
  <div id="playlist_player" class="prepend-4"></div>
  <div id="playlist_selector" class="prepend-4"></div>
</div>

<script type="text/javascript">
  function onYouTubeIframeAPIReady() {
    BetterVideoPlaylist.initialize();
  }
</script>
