<h1>Playlists#index</h1>

<ul id="playlist_container" class="prepend-4"></ul>

<script type="text/javascript">
  function onYouTubeIframeAPIReady() {
    BetterVideoPlaylist.initialize();
  }
</script>
