<div id="playlist" class="twoway"></div>

<div id="bootstrap" data-playlists=<%= @playlists.to_json %>></div>

<script data-main='javascripts/playlist/main' src='javascripts/playlist/require.js'>
</script>
