<header>
  <div class="wrapper">
    <h2>stormyflower</h2>
  </div>
</header>

<div id="playlist" class="twoway"></div>

<script data-main='assets/playlist/main' src='assets/playlist/require.js'>
</script>
